.box1{
    border: 1px solid black;
    padding: 1rem 2rem 3rem 4rem; /* Top Right Bottom Left */
    background-color: aqua;
    width: fit-content;
}
.box2{
    width: 600px;
    padding: 1rem 2rem 3rem 4rem;
    color: aliceblue;
    border: 1px solid black;
    background-color: cadetblue;
    box-sizing: border-box;
}
.box3{
    border: 1px solid black;
    padding: 1rem 2rem 3rem;
    background-color: bisque;
    width: fit-content;
}
.box4{
    border: 1px solid black;
    padding: 1rem 2rem;
    background-color: coral;
    width: fit-content;
}
